<div class="container">
	<div class="blog-post">
		<img src="images/flowers.jpg" class="blog-post__image"></img>
  	<h1>Welcome to the Code Pub</h1>
  	<p>Here is where the journey starts</p>
	</div>

	<div class="blog-post">
		<img src="images/flowers.jpg" class="blog-post__image"></img>
  	<h1>Another blog post</h1>
  	<p>Here is where the journey starts</p>
	</div>
	<div>Comments</div>

</div>