<div class="container">
	<svg id="bird" height="900" width="900" xmlns="http://www.w3.org/2000/svg">
		<polygon points="40,260 250,600 750,350" fill="#c1aee5" />
		<polygon points="60,450 200,600 800,150" fill="#d6cfff" />
		<polygon points="60,450 200,600 800,150" fill="#ead2ff" />
	</svg>
	<div class="blog-post">
		<img src="images/flowers.jpg" class="blog-post__image"></img>
  	<h1>Welcome to the Code Pub</h1>
  	<p>Here is where the journey starts</p>
	</div>

	<div class="blog-post">
		<img src="images/flowers2.jpg" class="blog-post__image"></img>
  	<h1>Another blog post</h1>
  	<p>Here is where the journey starts</p>
	</div>

	<div class="blog-post">
		<img src="images/flowers3.jpg" class="blog-post__image"></img>
  	<h1>Another blog post</h1>
  	<p>Here is where the journey starts</p>
	</div>
	<div>Comments</div>
</div>